<mat-card class="sscard">
  <div fxLayout="row" fxFlexFill>
    <div class="sscard-img" fxFlex="20%">
      <img src="http://via.placeholder.com/50x50" width="100%"/>
    </div>
    <div class="sscard-content" fxFlex="grow">
      <div fxLayout="column" fxFlexFill>
        <div class="sscard-title" fxFlex="40%">
          <a routerLink="/ss/{{ss.id}}"><h1>{{ ss.title }}</h1></a>
        </div>
        <div class="sscard-tags" fxFlex="grow">
          <mat-chip-list aria-label="Fish selection">
            <app-SSTag *ngFor="let tag of ss.tags" tagText={{tag}}></app-SSTag>
          </mat-chip-list>
        </div>
        <div class="sscard-text" fxFlex="grow">
          {{ ss.content }}
        </div>
      </div>
    </div>
  </div>
</mat-card>