<mat-card class="sscard">
  <div fxLayout="row" fxFlexFill>
    <div class="sscard-img" fxFlex="20%">
      <img src="http://via.placeholder.com/50x50" width="100%"/>
    </div>
    <div class="sscard-content" fxFlex="grow">
      <div fxLayout="column" fxFlexFill>
        <div class="sscard-title" fxFlex="40%">
          <h1>SSタイトル</h1>
        </div>
        <div class="sscard-tags" fxFlex="grow">
          <mat-chip-list aria-label="Fish selection">
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
            <app-SSTag tagText="test1"></app-SSTag>
          </mat-chip-list>
        </div>
        <div class="sscard-text" fxFlex="grow">
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
          これはテスト用の本文です。<br>
        </div>
      </div>
    </div>
  </div>
</mat-card>