<div fxLayout="column" style="margin-top: 20px;">
    <div fxFlex="grow">
    <div class="left" fxFlex="grow">
      <div fxLayout="column" fxFlexFill>
        <div class="left1" fxFlex="grow" style="text-align: center; margin-bottom: 20px;">
          <app-SSViewSelectButtonGroup (changeSSSelect)="changeSSSelect($event)"></app-SSViewSelectButtonGroup>
        </div>
        <div class="left2" fxFlex="grow">    
          <div *ngFor="let ss of ssList$ | async " style="margin: auto; margin-bottom: 20px; width: 80%;">
            <app-SSCard [ss]=ss></app-SSCard>
          </div>
          <div style="text-align: center; margin-bottom: 20px;" *ngIf="(ssList$ | async)?.length > 15">
            <app-PaginationButtonGroup></app-PaginationButtonGroup>
          </div>
        </div>
      </div>
    </div>
    <div class="right" fxFlex="30%">
      <div fxLayout="column" fxFlexFill>
        <div class="right2" fxFlex="grow" style="position: fixed;">
          <div style="width:80%; margin:auto;">
            <app-SSSearchForm></app-SSSearchForm>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>